/* All styles for your header Components live here */
.headerImg{
    border: 1px solid yellow;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.headContent {
    border: 1px solid lightblue;
}

.headTitle {
    border: 1px solid black;
    display: flex;
    /* flex-direction: row; */
    padding-top: 5px;
    height: 40px;
    /* align-items: flex-end;    */
}

.headContainer {
    border: 1px solid red;
    height: 110px;
    display: flex;
    flex-direction: row;
}

.headerTitle {
    font-size: 14px;
    height: 20px;
    border: 1px solid purple;
    margin-top: 14px;
}

.headerDate {
    font-size: 14px;
    font-weight: none;
    color: gray;
    height: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: 1px solid yellow;
}

p {
    font-size: 14px;
    margin-top: 0;
}