.buttonCont {
    display: flex;
}

.buttonNumbers {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

button {
    font-size: 50px;
    cursor: pointer;
    border: 1px solid #979797;
}

.buttonSymbols {
    display: flex;
    flex-direction: column;
}

.bigButtonCss {
    width: 333px;
    height: 95px;
    background-color: #ffffff;
}
  
.numCss {
    width: 111px;
    height: 95px;
    margin: 0;
    background-color: #ffffff;
}

.symbolCss {
    width: 117px;
    height: 95px;
    margin: 0;
    background-color: #A11E1E;
    color: #ffffff;
}
